$aliases['<%= @alias_name -%>'] = array(
<% if @uri -%>
  'uri' => '<%= @uri %>',
<% end -%>
<% if @root -%>
  'root' => '<%= @root %>',
<% end -%>
<% if @remote_host -%>
  'remote-host' => '<%= @remote_host %>',
<% end -%>
<% if @remote_port -%>
  'remote-port' => '<%= @remote_port %>',
<% end -%>
<% if @remote_user -%>
  'remote-user' => '<%= @remote_user %>',
<% end -%>
<% if @os -%>
  'os' => '<%= @os %>',
<% end -%>
<% if @ssh_options -%>
  'ssh-options' => '<%= @ssh_options %>',
<% end -%>
<% if @parent -%>
  'parent' => '<%= @parent %>',
<% end -%>
<% if @databases -%>
  'databases' => array(
  <%- @databases.each_pair do |database_key, database_targets| -%>
    '<%= database_key %>' => array(
    <%- database_targets.each_pair do |target, database_definition| -%>
      '<%= target %>' => array(
      <%- database_definition.each_pair do |key, value| -%>
        '<%= key %>' => '<%= value %>',
      <%- end -%>
      ),
    <%- end -%>
    ),
  <%- end -%>
  ),
<% end -%>
<% if @path_aliases -%>
  'path-aliases' => array(
  <%- @path_aliases.each_pair do |key, value| -%>
    '%<%= key %>' => '<%= value %>',
  <%- end -%>
  ),
<% end -%>
<% if @php -%>
  'php' => '<%= @php %>',
<% end -%>
<% if @php_options -%>
  'php-options' => '<%= @php_options %>',
<% end -%>
<% if @variables -%>
  'variables' => array(
  <%- @variables.each_pair do |key, value| -%>
    '<%= key %>' => '<%= value %>',
  <%- end -%>
  ),
<% end -%>
<% if @command_specific -%>
  'command-specific' => array(
  <%- @command_specific.each_pair do |command, options| -%>
    '<%= command %>' => array(
    <%- options.each_pair do |key, value| -%>
      <%- if scope.function_is_bool([value]) -%>
        <%- safe_value = value -%>
      <%- else -%>
        <%- safe_value = "'#{value}'" -%>
      <%- end -%>
      '<%= key %>' => <%= safe_value -%>,
    <%- end -%>
    ),
  <%- end -%>
  ),
<% end -%>
<% if @source_command_specific -%>
  'source-command-specific' => array(
  <%- @source_command_specific.each_pair do |command, options| -%>
    '<%= command %>' => array(
    <%- options.each_pair do |key, value| -%>
      <%- if scope.function_is_bool([value]) -%>
        <%- safe_value = value -%>
      <%- else -%>
        <%- safe_value = "'#{value}'" -%>
      <%- end -%>
      '<%= key %>' => <%= safe_value -%>,
    <%- end -%>
    ),
  <%- end -%>
  ),
<% end -%>
<% if @target_command_specific -%>
  'target-command-specific' => array(
  <%- @target_command_specific.each_pair do |command, options| -%>
    '<%= command %>' => array(
    <%- options.each_pair do |key, value| -%>
      <%- if scope.function_is_bool([value]) -%>
        <%- safe_value = value -%>
      <%- else -%>
        <%- safe_value = "'#{value}'" -%>
      <%- end -%>
      '<%= key %>' => <%= safe_value -%>,
    <%- end -%>
    ),
  <%- end -%>
  ),
<% end -%>
);
