<VirtualHost *:80>

    DocumentRoot <%= @doc_root %>

    <Directory <%= @doc_root %>>
      Options FollowSymLinks
      AllowOverride all
      Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

</VirtualHost>
