drush -y site-install <%= @profile %> --db-url=<%= @db_driver %>://<%= @db_user %>:<%= @db_password %>@<%= @db_hostname %>:<%= @db_port %>/<%= @db_name %> --account-name=<%= @account_name %> --account-pass=<%= @account_pass %> --site-name=<%= @site_name %>
